<div class="container-fluid profile">
  <div class="row">
    <div class="col-md-offset-2">
      <div id="success-email" class="alert alert-success">
        <button id="dismiss" type="button" class="close" aria-hidden="true">&times;</button>
        <p id="success-message"><%= "Your message has been sent to #{@user.name}" %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-2 left-column">
      <%= gravatar_image_tag(@user.email, :gravatar => { :size => 200, default: "https://raw.github.com/SamSamskies/trade-off/master/app/assets/images/avatar_default.png" }, class: "avatar") %>
    </div>
    <div class="col-lg-8">
      <h1>I'm <%= @user.name %> and you're awesome.</h1>
      <p><strong>City:</strong> <%= @user.city %></p>
      <h3>Trade-Offers:</h3>
      <ul>
        <% @user.provisions.each do |provision| %>
        <li><%= provision.description %></li>
        <% end %>
      </ul>
      <%= form_tag(conversations_path, { class: "form", role:"form", remote: true }) do %>
        <div class="form-group">
          <div <% unless signed_in? %> id="not-logged-in" <% end %>></div>
          <textarea id="negotiate" name="conversation[body]" class="form-control" rows="3"></textarea>
          <input type="hidden" name="conversation[email]" value="<%= @user.email %>">
        </div>
        <div class="row">
          <div class="col-md-offset-8">
            <button type="submit" class="btn btn-primary">Negotiate</button>
          </div>
        </row>
      <% end %>
    </div>
  </div>

</div>

<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Hi, to message someone please...</h4>
      </div>
      <div class="modal-body">
        <div id="error" class="alert alert-danger">
          <p id="error-message">Something went wrong. :(</p>
        </div>
        <div id="modal-links">
          <a id="modal-signup-link" href="#">Sign Up</a> or <a id="modal-login-link" href="#">Login</a>
        </div>
        <%= render "shared/signup" %>
        <%= render "shared/login" %>
      </div>
    </div>
  </div>
</div>