<div class="container-fluid">
  <%= image_tag("logo.png", class: "brand") %>
</div>
<%= image_tag("about-us.jpg", class: "about") %>
<div class="container-fluid container-about">
  <div class="row">
    <div class="col-lg-3 col-lg-offset-1">
      <%= image_tag("bethany.jpg", class: "avatar-team") %>
    </div>
    <div class="col-lg-6">
      <p>Bethany Halbreich believes in the power of creative innovation to affect global social change. She has worked with the Thai Royal Family’s Foundation on integrating a financial literacy curriculum in rural high schools, on entrepreneurial youth empowerment with Ashoka and Do Something, and on coordinating a social entreprenuerial fellowship in the form of a social impact house for University of Pennsylvania current students and alum. Bethany has most recently worked at one of America’s most-esteemed therapeutic communities for addiction rehabilitation in Tucson, Arizona, directing various projects that harness the entrepreneurial potential of the communities’ members, many of which are Native American. She is a proud graduate of New York University, where she studied Sustainable Development, Entrepreneurship and Global Initiative.</p>
      <p><a href="http://www.linkedin.com/in/bethanyhalbreich">http://www.linkedin.com/in/bethanyhalbreich</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-lg-offset-1">
      <%= image_tag("sam.jpg", class: "avatar-team") %>
    </div>
    <div class="col-lg-6">
      <p>Sam attended Dev Bootcamp SF in the Spring of 2013 and has since developed a passion (some would say addiction) to web development. He is a full stack web developer living in the heart of the web development game, San Francisco. He also loves teaching web development and works with students at Dev Bootcamp, General Assembly, MissionBit, OpenTechSchool and Railsbridge. Before attending Dev Bootcamp, Sam spent 3 years in West Africa serving as a Peace Corps Volunteer teaching people how to use computers.</p>
      <p><a href="https://github.com/SamSamskies">https://github.com/SamSamskies</a></p>
      <p><a href="http://www.linkedin.com/in/samsamskies">http://www.linkedin.com/in/samsamskies</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-lg-offset-1">
      <%= image_tag("johnny.jpg", class: "avatar-team") %>
    </div>
    <div class="col-lg-6">
      <p>Jonathan is from Sydney Australia.  A walking contradiction...in a good way. A commercial lawyer of 10 years but also a serial entrepreneur. While at law school he was cutting deals on the side taking tourists on bar crawls to pay for his tuition. After graduating from the University of Sydney, he worked at DLA Piper for 4 years but left when his entrepreneurial spirit stirred. His latest business of 4 years is an Australian online ticketing company called iwannaticket which has over 200 clients, including a few of the largest festivals in Australia.   </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-lg-offset-1">
      <%= image_tag("anil.jpg", class: "avatar-team") %>
    </div>
    <div class="col-lg-6">
      <p>Anil Pattni is an entrepreneur with a strong background in International Business and Technology. He has held senior positions at the Retail, Corporate and Government level for many firms. With a focus on Design, UI, UX, CX and IA, he is currently the Founder & CEO at WirelessAppz a smartphone technology startup. He founded OCHackerz in 2010, one of the first startup focused technology communities in OC. Also one of the main drivers for OCMiniMakerFaire 2012 with over 1200 attendees. Also a student mentor at the Leatherby Center for Entrepreneurship at Chapman University. More recently Mr Pattni is Chairman for the new Center for Multidisciplinary Innovation at IEEE, the worlds premier organization for technology professionals. Learn more at www.ochackerz.com</p>
      <p><a href="http://www.linkedin.com/in/anilpattni">http://www.linkedin.com/in/anilpattni</a></p>
    </div>
  </div>
</div>
