<!DOCTYPE html>
<html>
<head>
  <title>Trade Off</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to(image_tag("logo-gray.png", class: "brand-top"), root_path) %>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <ul class="nav navbar-nav">
        <li>
          <a href="https://www.facebook.com/pages/Trade-Off/550834045024890"><i class="fa fa-3x fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/tradeoffgroup"><i class="fa fa-3x fa-twitter-square"></i></a>
        </li>
        <!-- Add this later -->
        <!-- <li><a href="#">Sign Up</a></li>
        <li><a href="#">Login</a></li> -->
      </ul>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-8">
         <ul class="nav navbar-nav nav-links">
          <li><a href="#">About</a></li>
          <li><a href="#">Sign Up</a></li>
          <% if signed_in? %>
          <li><%= link_to 'Logout', '/session', :method => :delete %></li>
          <% else %>
          <li><a id="login-main-link" href="#">Login</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>

  <div class="modal fade" id="modal-login-main" tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Login</h4>
        </div>
        <div class="modal-body">
          <div id="error" class="alert alert-danger">
            <p id="error-message">Something went wrong. :(</p>
          </div>
          <%= render "shared/login" %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
